

<div>
  <h1 class="mat-h1" >User Stocks</h1>
  <div class="dataDisplay">
    <mat-card>
      <mat-card-content fxLayout="row"
                        fxLayoutAlign="start center">
        <mat-card-title fxFlex="14">Stock Name</mat-card-title>
        <mat-card-title fxFlex="17">Amount</mat-card-title>
        <mat-card-title fxFlex="20">Purchase Price</mat-card-title>
        <mat-card-title fxFlex="20">Current Price</mat-card-title>
        <mat-card-title fxFlex="17" >Change</mat-card-title>

      </mat-card-content>
    </mat-card>
    <app-user-stock *ngFor='let item of userStocks'
                    [data] = "item"
                    [StocksData] = "StocksData"
                    (sellStock) = "sellButtonClick($event)"></app-user-stock>
  </div>
</div>
