

<div class="image">
  <h1 class="mat-h1" >Stock Market Data</h1>
  <div class="dataDisplay">
    <mat-card>
      <mat-card-content fxLayout="row"
                        fxLayoutAlign="space-around center">
        <mat-card-title fxFlex="20">Stock Name</mat-card-title>
        <mat-card-title fxFlex="20">Stock Price</mat-card-title>
        <mat-card-title fxFlex="17" >Change</mat-card-title>
        <mat-card-title fxFlex="20" >Daily Change</mat-card-title>

      <div class="myAccount" fxFlex="11" (click)="openUserAccDialog()"><img src="../assets/images/bag_icon.png"></div>
      </mat-card-content>
    </mat-card>

    <app-single-stock [userId] = "userId" *ngFor='let item of StocksData' [data] = "item"></app-single-stock>
  </div>
</div>
