

<div class="image">
  <h1 class="mat-h1">Stock Market Data</h1>

  <div class="dataDisplay">
    <mat-card>
      <mat-card-content fxLayout="row"
                        fxLayoutAlign="start center">
        <mat-card-title fxFlex="30">Stock Name</mat-card-title>
        <mat-card-title fxFlex="30">Stock Price</mat-card-title>
        <mat-card-title >Change</mat-card-title>
      </mat-card-content>
    </mat-card>

    <app-single-stock *ngFor='let item of StocksData' [data] = "item"></app-single-stock>
  </div>
</div>
