mat-card {
  background-color: lightgray;
}
div p {
  font-size: 2vh;

}

mat-card-actions{
  margin-right: 2vw;
}

.mat-raised-button{
  font-size: 2.3vh;
}

.arrow-image{
  width: 2vw;
  height: initial;
  margin-right: 2vw;

}

.red-arrow{
  width: 100%;
  height: 100%;
  background-image:url('../../assets/images/Red_Arrow_Down.png');
}

.arrow-image img{
  width: 2vw;
  height: auto;
}
